@font-face {
  font-family: Jetbrains Mono Regular;
  src: url(./assets/fonts/JetbrainsMono/JetBrainsMono-Regular.ttf);
}
@font-face {
  font-family: Jetbrains Mono Italic;
  src: url(./assets/fonts/JetbrainsMono/JetBrainsMono-Italic.ttf);
}

* {
  font-family: Jetbrains Mono Regular;
}

a {
  font-family: Jetbrains Mono Italic;
}
