@font-face {
  font-family: Jetbrains Mono;
  src: url(https://cdn.jsdelivr.net/gh/Raphdf201/Raphdf201.github.io@main/assets/fonts/JetbrainsMono/JetBrainsMono-Regular.woff2);
}

* {
  font-family: Jetbrains Mono;
}

.back {
  font-size: 10px;
  color: #BAD9A2;
}